# Env files
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Python
__pycache__/
*.pyc
venv/

# IDE
.vscode/
.idea/
